body {
    background: url(../img/FondoEspacial.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    /*position: fixed;*/
    /*width: 100%;*/

}
main {

    background: url(../img/FondoEspacial.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.logotipo {
    width: 6rem;
    height: 6rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

footer {
    padding: 0.75rem 1.25rem;
    background-color: darkgrey;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    height: 100%;
    width: 50%;
}

.row {
    padding: 50px;
}

#ContenidoFicha {
    padding: 3rem;
}

article {
    width: 45rem;
    padding: 15px;
    background-color: whitesmoke;
}

.imagenCarta {
    height: 12rem;
}


article div.ContenidoCarta {
    padding: 1rem;
    background-color: #706fd3;
}

.DatosCarta p{
    margin-top: 1%;
    font-size: medium;
}

.AccesorioimagenParticular {
    height: 11rem;
    width: 11rem;
}

.nombre_accesorio{
    height: 54px;
}

.imagenUnica {
    height: 11rem;
    width: 11rem;
}


